<div class="row">
    <div class="col-md-12 mx-0">
      <form id="msform">
        <!-- progressbar -->
        <ul id="progressbar">
          <li class="active" id="account"><strong>Account</strong></li>
          <li id="personal"><strong>Personal</strong></li>
          <li id="payment"><strong>Payment</strong></li>
          <li id="confirm"><strong>Finish</strong></li>
        </ul>
        <!-- fieldsets -->
        <fieldset id="fieldset-account">
          <div class="form-card">
            <h2 class="fs-title">Account Information</h2>
            <input type="text" name="uname" placeholder="UserName" />
            <input type="email" name="email" placeholder="Email Id" />
            <input type="password" name="pwd" placeholder="Password" />
            <!-- <input type="password" name="cpwd" placeholder="Confirm Password"/> -->
          </div>
          <a href="#fieldset-personal" class="next action-button">Next Step</a>
        </fieldset>
        <fieldset id="fieldset-personal">
          <div class="form-card">
            <h2 class="fs-title">Personal Information</h2>
            <input type="text" name="fname" placeholder="First Name" />
            <input type="text" name="phno" placeholder="Contact No." />
            <input type="text" name="plant name" placeholder="Plant Name" />
            <input type="number" name="cost" placeholder="Cost" />
          </div>
          <a href="#fieldset-account" class="previous action-button-previous">Previous</a>
          <a href="#fieldset-payment" class="next action-button">Next Step</a>
        </fieldset>
        <fieldset id="fieldset-payment"></fieldset>
      </form>
    </div>
  </div>
  